.proj1 {
  padding: 0 0 50px 0;
  position: relative;
  background-color: rgb(8.2, 8.2, 8.2, 0.8);
  border-radius: 64px;
  text-align: center;
  padding: 40px 60px;
  margin-top: 190px;
  width: 75%;
  margin-left: 12%;
  box-shadow: 0 0 1px #fff, 0 0 8px #fff, -10px 0 10px #f0f, 0 0 8px #0ba9ca,
    0 0 20px #0ba9ca, 0 0 16px #0ba9ca, 0 0 20px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}

.proj {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.proj::-webkit-scrollbar {
  display: none;
}

.image {
  margin-top: 18%;
  width: 300px;
  height: 200px;
  border-radius: 20%;
}

/* inline-block ml-9 mt-6 space-x-5  */
.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
  margin-top: 18%;
  width: 300px;
  height: 200px;

  border-radius: 20%;
}
.image1 {
  margin-left: 10%;
}
.image2 {
  margin-left: 20%;
}

.image4 {
  margin-left: 10%;
}
.image5 {
  margin-left: 20%;
}
.title {
  color: aqua;
  font-size: 16px;
  margin-top: 2rem;
}
.title1 {
  color: aqua;
  font-size: 16px;
  margin-top: 10rem;
  margin-left: 15rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}
.sat {
  width: 300px;
  height: 250px;
  margin-left: 70%;
  margin-top: -4rem;
  transform: rotateY(180deg);
}
